body {
    background-color: #E6E6FA;
    font-family: 'Indie Flower', cursive;
    font-family: 'Kalam', cursive;
}

h2 {
    font-family: 'Indie Flower', cursive;
    font-family: 'Kalam', cursive;
}

/* Navbar */
.navbar .container {
    padding: 10px 0;
    font-size: 18px;
}

li {
    font-weight: 500;
}

.navbar .container .navbar-brand {
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    font-family: 'Kalam', cursive;
}

/* Jumbotron */
.jumbotron {
    padding-top: 15rem;
}

.jumbotron img {
    cursor: pointer;
}

.jumbotron img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-family: 'Kalam', cursive;
    margin-top: 25px;
}

hr {
    width: 200px;
    border-top: 2px solid black;
    margin: auto;
}

.jumbotron p {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
}

.navbar {
    background-color: #4B0082;
}

.lead {
    margin-top: 20px;
}

section {
    padding-top: 8rem;
}

.bg-custom {
    background-color: #4B0082;
}